# Copy this file to application-local.properties and set the values to suit your environment

DB_HOST=localhost
DB_PORT=5432
DB_NAME=ticketguru
DB_USER=psqladmin
DB_PASSWORD=psqladmin

# Make sure the following is set to true when
# 1. Running tests
# 2. You have already initialized the database and no longer want to be prompted
app.skipPrompt=false
